<div class="mt-4">
  <h2>Danh sách khóa học đã xóa</h2>
  <a href="/me/stored/courses">Danh sách khóa học</a>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Mô tả</th>
        <th scope="col" colspan="3">Ngày tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td colspan="2">
          <a href="" class="btn btn-restore" data-id="{{this._id}}">Restore</a>
          <a href="#" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">DeleteF</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng rác trống.
          <a href="/me/stored/courses">Danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="delete-course-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete courses forever?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your action can't restore, are you sure about that?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="delete-course-form">
</form>
<form method="POST" name="restore-course-form">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var deleteCourseModal = document.getElementById('delete-course-modal');
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    let btnDelete = document.getElementById('btn-delete-course');
    let btnRestores = $('.btn-restore');

    var courseId;

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    });

    btnDelete.addEventListener('click', function () {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    })
    btnRestores.click(function (e) {
      e.preventDefault();
      var courseId = $(this).data('id');
      console.log(courseId);
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    })

  }, false)
</script>